$bg-color: hsl(193, 100%, 96%);
$text-color-1: hsl(192, 100%, 9%);
$text-color-2: hsl(208, 11%, 55%);
$btn-color-1: hsl(0, 0%, 100%);
$btn-shadow-1: hsla(192, 100%, 9%, 0.15);
$btn-color-2: hsl(322, 100%, 66%);
$card-shadow: hsla(192, 62%, 18%, 0.2);
